{% extends "auctions/layout.html" %}

{% block body %}

    <h3>New Listing:</h3>
    
    {% if existing %}
    <div class="alert alert-secondary" role="alert">
        {{ message }}
    </div>
    {% endif %}
    <br>    
    <form action="{% url 'CreateListing' %}" method="post">
        {% csrf_token %}
        {% for item in form %} 
        <div class="form-group">{{ item }}</div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Add Listing</button>
    </form>
    
{% endblock %}