{% load static %}

<!DOCTYPE html>

<html lang="en">

    <head>
        <title>Pack List</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="{% static 'packList/styles.css' %}" rel="stylesheet">
        <script src="{% static 'packList/script.js' %}"></script>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'index' %}"><h2><i>U</i>List</h2></a>

            <div>
                <ul class="nav">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div class="row" style="width: 100%;">
            <div class="sidebar col-lg-2 col-md-9">
                <h4 style="padding-left: 10px;">My Lists:</h4>
                {% block nav %}
                    {% if user.is_authenticated %}
                        {% for list in lists %}
                            <div style='padding-left: 10px;'>
                                <a href="/mylist/{{list.id}}" >{{list.title}}</a>
                            </div>
                        {% endfor %}
                        <br>
                        <h5 style="padding-left: 10px;">Shared Lists:</h5>
                        {% for list in lists %}
                            <div style='padding-left: 10px;'>
                                <a href="/mylist/{{share.id}}" >{{share.title}}</a>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endblock %}
            </div>
            <div class="main col-lg-10 col-md-9" style="padding: 1em;" >
                {% block body %}
                {% endblock %}
            </div>
        </div>

    </body>
</html>