{% extends "packList/layout.html" %}

{% block body %}

    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    <div class="alert alert-warning" role="alert" id="message" style="display: none;"></div>

    {% if mlist %}
    <h2> Title: {{mlist.title}}
        {% if user == mlist.creator %}
        <a href="{% url 'dellist' mlist.id %}" style='padding-left: 10px; color: red; text-decoration:none;'>x</a>
        {% endif %}
    </h2> 
    Category: {{mlist.category}}

    <form onsubmit="event.preventDefault(); share({{mlist.id}});" style="float: right;">
        <input type="text" placeholder="Username" id="share-{{mlist.id}}" autofocus>
        <input type="submit" value="Share">
    </form>  

    <a href="javascript:add_form()" id="add-form" style="color:green; text-decoration:none; display: block;"><h1>+</h1></a>
     
    <div class="card-column" style="padding: 1em;">

        <div id="item-form" style="display: none;">
            <main class="container p-5">
                <form action="{% url 'additem' mlist.id %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">{{ form.title }}</div>
                    {% if mlist.category == "LIST" %}
                        <div class="form-group">{{ form.description }}</div>
                        <div class="form-group">{{ form.image }}</div>
                        <div class="form-group">{{ form.link }}</div>
                    {% endif %}
                    <button class="btn btn-primary" type="submit">Add Item</button>
                </form>
            </main>
        </div>

        {% for item in items %}
        {% if item.active %}
        <div class="card">
            <div class="card-body">
        {% else %}
        <div class="card" style="background-color: seagreen;">
            <div class="card-body" style="background-color:greenyellow;;">
        {% endif %}

                <ul class="list-group list-group-horizontal" style="list-style-type: none;">
                    <li><strong>
                    {% if item.image %} 
                        <i style="padding-right:1em; float: left;">   
                            <img src="{{ item.image }}" class="rounded float-left" alt="{{ item.creator }}" height="200" >
                            <br>
                        </i>
                    {% endif %}
   
                    {% if item.active %}
                    <form action="{% url 'active' item.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-outline-success float-right">Done</button>
                    </form>
                    {% endif %}
                    <form action="{% url 'remitem' item.id %}" method="post">
                        {% csrf_token %}
                        <button  class="btn btn-outline-danger float-right" style="margin-right: 5px;">Remove</button>
                    </form>

                    <h3>{{item.title}}</h3>
                    
                    {% if item.multi %}
                        <i>{{item.multi}}</i>
                    {% endif %}
                    </strong>
                    
                    {% if item.text %}
                        <p>{{item.text}}</p>
                    {% endif %}
                    
                    {% if item.link %}
                        {% if mlist.category == "BOOKS" %}
                            <i><a href="{{item.link}}" target="_blank">Link to Goodreads</a></i>
                        {% elif mlist.category == "SPORTS" %}
                            <i><a href="{{item.link}}" target="_blank">YouTube Highlights</a></i>
                        {% else %}
                            <i><a href="{{item.link}}" target="_blank">YouTube Trailer</a></i>
                        {% endif %}
                    {% endif %}
                    </li>
                </ul>
            </div>
            {% if item.active %}
            <div class="card-footer">
            {% else %}
            <div class="card-footer" style="background-color: rgb(37, 201, 119);">
            {% endif %}
                <small><div id="title-{{item.id}}"><strong>Comments:</strong><br></div>
                        
                    <div id="item-list-{{item.id}}" style="padding-left: 1em;">
                        {% if item.comments %}
                            {{item.comments|safe}}
                        {% endif %}
                    </div>
                    <a href="javascript:add_comment({{item.id}})" id="addComment-{{item.id}}" style="text-decoration: none;">Add comment.</a>
                </small>
            </div>       
        </div>
        {% endfor %} 
    </div>
    <footer class="small text-center text-muted">
        {% if mlist.category == "BOOKS" %}
        Data provided from <a href="https://developers.google.com/books">Google Books Api</a>.
        {% elif mlist.category == "MOVIES" %}
        Data provided from free account by <a href="http://www.omdbapi.com/">IEX</a>. View <a href="http://www.omdbapi.com/">IEX’s Terms of Use</a>.
        {% endif %}
    </footer>
    {% endif %}

{% endblock %}