{% extends "network/layout.html" %}

{% block body %}
    <h3>Following</h3>
    {% if message %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
    {% endif %}

    {% if posts %}
    <div class="card-column" style="padding: 1em;">
        {% for post in posts %}
            <div class="card">
                <div class="card-body">
                <ul class="list-group list-group-horizontal" style="list-style-type: none;">
                    {% if post.image %} 
                        <li style="padding-right:1em">   
                            <img src="{{ post.image }}" class="rounded float-left" alt="{{ post.creator }}" height="200" >
                            <br>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'profile' post.creator %}" style="color:inherit"><h4>{{ post.creator }}</h4></a>
                        Edit<br>
                        {{ post.text }}<br>
                        <a class="text-muted">{{ post.timeStamp }}<br>
                        <button class="btn btn-outline-light" id="like-{{post.id}}">🤍</button>{{ post.like }}<br>
                        Comment</a>
                    </li>
                </ul>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}