{% extends "network/layout.html" %}

{% block body %}
    <h3>Profile Page</h3>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}

    <h5><span class="badge badge-pill badge-primary">Following:  {{following}}</span>
    <span class="badge badge-pill badge-primary">Followers:  {{followers}}</span></span></h4>
    
    {% if user.is_authenticated %}
        {% if user.username != name %}
            {% if follow != "yes" %}
            <form  action="{% url 'follow' name %}" method="post">
                {% csrf_token %}
                <button class="btn btn-outline-success" type="submit">Follow</button>
            </form>
            {% else %}
            <form  action="{% url 'unfollow' name %}" method="post">
                {% csrf_token %}
                <button class="btn btn-outline-danger" type="submit">UnFollow</button>
            </form>
            {% endif %}
        {% endif %}
    {% endif %}


    {% if posts %}
    <div class="card-column" style="padding: 1em;">
        {% for post in page_obj %}
            <div class="card">
                <div class="card-body">
                <ul class="list-group list-group-horizontal" style="list-style-type: none;">
                    {% if post.image %} 
                        <li style="padding-right:1em">   
                            <img src="{{ post.image }}" class="rounded float-left" alt="{{ post.creator }}" height="200" >
                            <br>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'profile' post.creator %}" style="color:inherit"><h4>{{ post.creator }}</h4></a>
                        Edit<br>
                        {{ post.text }}<br>
                        <a class="text-muted">{{ post.timeStamp }}<br>
                        <button class="btn btn-outline-light" id="like-{{post.id}}">🤍</button>{{ post.like }}<br>
                        Comment</a>
                    </li>
                </ul>
                </div>
            </div>
            <br>
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; First</a>
                    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                {% endif %}
            </span>
        </div>

    </div>
    {% endif %}
{% endblock %}