{% extends "network/layout.html" %}

{% block body %}
    <h3>Profile Page</h3>
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}

    <h5><span class="badge badge-pill badge-primary">Following:  {{following}}</span>
    <span class="badge badge-pill badge-primary">Followers:  {{followers}}</span></span></h4>
    
    {% if user.is_authenticated %}
        {% if user.username != name %}
            {% if follow != "yes" %}
            <form  action="{% url 'follow' name %}" method="post">
                {% csrf_token %}
                <button class="btn btn-outline-success" type="submit">Follow</button>
            </form>
            {% else %}
            <form  action="{% url 'unfollow' name %}" method="post">
                {% csrf_token %}
                <button class="btn btn-outline-danger" type="submit">UnFollow</button>
            </form>
            {% endif %}
        {% endif %}
    {% endif %}


    {% if posts %}
    <div class="card-column" style="padding: 1em;">
        {% for post in page_obj %}
            <div class="card">
                <div class="card-body">
                <ul class="list-group list-group-horizontal" style="list-style-type: none;">
                    {% if post.image %} 
                        <li style="padding-right:1em">   
                            <img src="{{ post.image }}" class="rounded float-left" alt="{{ post.creator }}" height="200" >
                            <br>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'profile' post.creator %}" style="color:inherit" id="creator-{{post.id}}"><h4>{{ post.creator }}</h4></a>
                        <strong id="post-{{post.id}}">{{ post.text }}</strong>
                        {% if request.user.username == post.creator %}
                            <a href="javascript:check_edit({{post.id}})" id="edit-{{post.id}}" style="display: block;">Edit</a>
                        {% endif %}
                        <a class="text-muted">{{ post.timeStamp }}<br>
                        {% if user.is_authenticated %}
                        {% if not request.user in post.liked.all %}
                            <a href="javascript:toggle({{post.id}})" id="like-{{post.id}}" style="text-decoration:none;">🤍</a>
                        {% else %}
                            <a href="javascript:toggle({{post.id}})" id="like-{{post.id}}" style="text-decoration:none;">❤</a>
                        {% endif %}
                        {% else %}
                            Likes: 
                        {% endif %}
                        <i id="numLike-{{post.id}}">{{ post.like }}</i><br>
                        Comment</a>
                    </li>
                </ul>
                </div>
            </div>
            <br>
        {% endfor %}

        <div class="pagination justify-content-center">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <button class="btn btn-outline-primary"><a href="?page={{ page_obj.previous_page_number }}" style="color:inherit; text-decoration: none;">Previous</a></button>
                {% endif %}
        
                <span class="current">
                    <strong>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</strong>
                </span>
        
                {% if page_obj.has_next %}
                    <button class="btn btn-outline-primary"><a href="?page={{ page_obj.next_page_number }}" style="color:inherit; text-decoration: none;">Next</a></button>
                {% endif %}
            </span>
        </div>

    </div>
    {% endif %}
{% endblock %}